* {
    border: 1px solid red;
}

.main {
    display: flex;
    position: relative;
    flex-direction: column;

}
.title {
    height: 200px;
    display: flex;
    position: relative;
    flex-direction: row;
}

.tickets {
    display: flex;
    position: relative;
    flex-direction: row;
}

.menu {
    width: 200px;
}

.logo {
    width: 200px;
}

.search{
    width: 500px;
}